* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #202F58;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.terms {
  margin-top: 10px;
}

label {
  margin-left: 5px;
}

button {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #43AD59;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

label[for="agree-checkbox"] {
  color: white;
}

/* Adicionado código para tornar o formulário responsivo */

@media only screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }

  button {
    margin-top: 20px;
  }
}
