body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #FFF;
    position: relative;
    color: #43AD59;
  }
  
  label {
    display: block;
    text-align: center;
  }
  
  .form-check {
    color: #202F58;
    text-align: center;
    font-size: 14px;
  }
  
  .form-container {
    border: 5px solid #43AD59;
    padding: 20px;
    max-width: 900px;
    width: 120%;
    height: 2300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alterado para flex-start */
    background-color: #fff;
    margin: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
  }
  
  .form-container input,
  .form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  #departamento {
    color: #43AD59;
  }
  
  
  #input_7 {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #43AD59;
    border-radius: 4px;
    &:focus {
      outline: none;
      box-shadow: 0 0 4px #040406;
    }
  }
  
  #input_7 option {
    font-size: 16px;
    color: #202F58;
  }
  
  #input_7 option:hover { 
    background-color: #040406;
  }
  
  
  .competencias {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }
  
  @media (max-width: 600px) {
    .competencias {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
  
  @media (min-width: 769px) and (max-width: 1200px) {
    .container {
      grid-template-columns: repeat(2, 1fr);
      display: flex;
      flex-wrap: wrap;
    }
  }
  
  .competence-label {
    color: #202F58;
    margin-bottom: 50px;
    font-size: 30px;
    text-align: center;
  }
  
  .form-scale-table {
    display: flex;
    flex-direction: column;
  }
  
  .rating-item-group {
    display: flex;
    align-items: flex-start;
    margin-left: 80px;
  }
  
  .rating-item {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    margin-right: 4px;
  }
  
  .rating-item {
    margin: 8px;
  }
  
  .rating-item-title {
    margin-right: 5px;
  }
  
  .form-label,
  .form-label-top,
  .form-label-auto {
    font-size: 27px;
    font-family: sans-serif;
    margin: 0px 0px 14px 2px;
    text-align: center;
    color: #202F58;
  }
  
  #label_8 {
    color: #202F58;
  }
  
  #label_5 {
    color: #202F58;
  }
  
  #label_6 {
    color: #202F58;
  }
  
  #label_7 {
    color: #202F58;
  }
  
  .buttonsend {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
    height: 45px;
    border-radius: 18px;
    background-color: #43AD59;
    border: solid 1px transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: all .1s ease-in-out;
  }
  
  .buttonsend:hover {
    background-color: #202F58;
    border-color: #43AD59;
    transition: all .1s ease-in-out;
  }
  
  .spans:nth-child(1) {
    display: block;
    width: 10px;
    height: 2px;
    background-color: #fff;
    transform: rotate(45deg);
  }
  
  .spans:nth-child(2) {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    transform: rotate(-45deg) translate3d(14px, -4px, 0);
    transform-origin: 100%;
  }
  
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    margin: 30px auto 0 auto;
    border: solid 2px #202F58;
    border-top: solid 2px #43AD59;
    border-radius: 50%;
    opacity: 0;
  }
  
  .check {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate3d(-4px, 50px, 0);
    opacity: 0;
  }
  
  /* Estilo base para a checkbox */
  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #202F58;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
  }
  
  /* Estilo da checkbox quando marcada */
  input[type="checkbox"]:checked {
    background-color: #43AD59;
    border-color: #202F58;
  }
  
  /* Estilo do rótulo da checkbox */
  .form-check-label {
    margin-left: 5px;
  }
  
  /* Estilo do contêiner da checkbox */
  .form-check {
    margin-bottom: 10px;
  }
  
  
  .loader.active {
    animation: loading 2s ease-in-out;
    animation-fill-mode: forwards;
  }
  
  .check.active {
    opacity: 1;
    transform: translate3d(-4px, 4px, 0);
    transition: all .5s cubic-bezier(.49, 1.74, .38, 1.74);
    transition-delay: .2s;
  }
  
  @keyframes loading {
    30% {
      opacity: 1;
    }
  
    85% {
      opacity: 1;
      transform: rotate(1080deg);
      border-color: #43AD59;
    }
  
    100% {
      opacity: 1;
      transform: rotate(1080deg);
      border-color: #43AD59;
    }
  }
  
  .form-line {
    flex-basis: 50%;
    box-sizing: border-box;
  }
  
  .form-line-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  
  .form-line-column-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
  }
  
  .form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #202F58;
  }
  
  .form-textbox {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #43AD59;
    border-radius: 4px;
  }
  
  .form-input-wide {
    width: 100%;
  }
  
  .form-sub-label-container {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5px;
  }
  
  .form-sub-label {
    display: block;
    font-size: 12px;
    color: #202F58;
  }